<a href="https://colab.research.google.com/github/Sindhu-968/Bytecode-assignments/blob/master/sets(16_02_36).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SETS

Create an empty set and add multiple values to it?

In [ ]:
s=set()
print(s,type(s))
s.add("Sindhu")
s.add(12)
s.add("padhu")
print(s,type(s))

set() <class 'set'>
{'padhu', 12, 'Sindhu'} <class 'set'>

Write a Python program to delete value 3 from the set {1, 2, 3, 4, 5}?

In [ ]:
s={1,2,3,4,5}
s.remove(1)
s.remove(3)
print(s)

{2, 4, 5}

Write a Python program to check the union of two sets: {1,2,3,4,5} and {4,5,6,7,8}?

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8}

Write a Python program to check the symmetric_difference between two sets: {1,2,3,4,5} and {4,5,6,7,8}?

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s3=s1.symmetric_difference(s2)
print(s3)

{1, 2, 3, 6, 7, 8}

Write a Python program to remove the number 7 from the set {1, 2, 3, 4, 5}, without causing an error if 7 is not present?

In [ ]:
s={1,2,3,4,5}
s.discard(7)
print(s)

{1, 2, 3, 4, 5}

Write a Python program to check if the set {1, 2} is a superset of the set {1, 2, 3, 4}?

In [ ]:
s1={1,2}
s2= {1, 2, 3, 4}
s2.issuperset(s1)

True

Write a Python program to find the difference between two sets: {1, 2, 3, 4} and {3, 4, 5, 6}?

In [ ]:
s1={1, 2, 3, 4}
s2={3,4,5,6}
s3=s1.difference(s2)
print(s3)

{1, 2}

Write a Python program to find the intersection of two sets: {1, 2, 3} and {3, 4, 5}?

In [ ]:
s1={1, 2, 3}
s2={3, 4, 5}
s3=s1.intersection(s2)
print(s3)

{3}

Write a Python program to find the length of the set {1, 2, 3, 4, 5, 1, 2, 5, 4, 6, 7, 8}?

In [ ]:
s1={1, 2, 3, 4, 5, 1, 2, 5, 4, 6, 7, 8}
s2=len(s1)
print(s2)

8

Write a Python program to convert a list to a set?

In [ ]:
l=[2,3,4,5,6,7]
print(l,type(l))
s=set(l)
print(s,type(s))

[2, 3, 4, 5, 6, 7] <class 'list'>
{2, 3, 4, 5, 6, 7} <class 'set'>

Write a Python program to find the maximum and minimum values from the set {5, 2, 8, 1, 4}?

In [ ]:
s={5, 2, 8, 1, 4}
h=max(s)
l=min(s)
print("max value is:{} and min value is:{}".format(h,l))

max value is:8 and min value is:1

Write a Python program to find the common elements between two sets {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}?

In [ ]:
s1={1, 2, 3, 4, 5}
s2={4, 5, 6, 7, 8}
s3=s1.intersection(s2)
print(s3)

{4, 5}

Write a Python program to find the unique elements in the union of two sets: {1, 2, 3} and {3, 4, 5}?

In [ ]:
s1={1, 2, 3}
s2={3, 4, 5}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5}

Write a Python program to find the union of three sets: {1, 2}, {2, 3}, and {3, 4}?

In [ ]:
s1={1, 2}
s2={2, 3}
s3={3,4}
s4=s1.union(s2,s3)
print(s4)

{1, 2, 3, 4}

Write a Python program to remove duplicates from the list [1, 2, 2, 3, 4, 4, 5, 5] by converting it to a set?

In [ ]:
list=[1,2,2,3,4,4,5,5]
s=set(list)
print(s)

{1, 2, 3, 4, 5}

Write a Python program to count the number of elements in the set {1, 2, 3, 4, 5}?

In [ ]:
# Renamed 'set' to 'my_set' to avoid shadowing built-in function
my_set = {1, 2, 3, 4, 5}
s2 = len(my_set)
print(s2)

5

Write a function that takes a string as input and returns the number of distinct characters in it using set?

In [ ]:
print(count_distinct("Maha"))

3

Write a Python program to find common elements in three lists using set?
Given lists:

l1 = [1, 5, 10, 20, 40, 80]

l2 = [6, 7, 20, 80, 100]

l3 = [3, 4, 15, 20, 30, 70, 80, 120]

In [ ]:
l1 = [1, 5, 10, 20, 40, 80]

l2 = [6, 7, 20, 80, 100]

l3 = [3, 4, 15, 20, 30, 70, 80, 120]
a=set(l1)
b=set(l2)
c=set(l3)
d=a.intersection(b,c)
print(d)

{80, 20}

Write a Python program to check if two lists are disjoint?

In [ ]:
l1 = [1, 5, 10, 20, 40, 80]
l2 = [6, 7, 20, 80, 100]
a=set(l1)
b=set(l2)
d=a.isdisjoint(b)
print(d)

False

Write a Python program to find elements in one list that are not present in another list?

In [ ]:
l1 = [1, 2, 3, 4, 5]
l2 = [3, 4, 6]
a=set(l1)
b=set(l2)
d=a.difference(b)
print(d)

{1, 2, 5}

Write a Python program to find the longest word and smallest word in a set of words?
Words = {"apple", "banana", "cherry", "date"}

In [ ]:
words = {"apple", "banana", "cherry", "date"}

longest = max(words, key=len)
smallest = min(words, key=len)

print("Longest word:", longest)
print("Smallest word:", smallest)

Longest word: banana
Smallest word: date

Write a Python program to remove a specific element 3 from a set {1, 2, 3, 4}?

In [ ]:
set={1,2,3,4}
set.remove(3)
print(set)

{1, 2, 4}

Write a Python program to count how many unique elements are in a given list?
l = [1, 2, 2, 3, 4, 4, 5]

In [ ]:
l = [1, 2, 2, 3, 4, 4, 5]

unique_count = len(set(l))
print("Number of unique elements:", unique_count)

Number of unique elements: 5

Write a Python program to find all the elements in a set that are also present in a list?
s = {1, 2, 3, 4, 5}
l = [3, 4, 6]

In [ ]:
s = {1, 2, 3, 4, 5}
l = [3, 4, 6]
l1=set(l)
print(l1)
d=s.issubset(l1)
print(d)

{3, 4, 6}
False

Python program to convert Set into Tuple and Tuple into Set?
s = {'a', 'b', 'c', 'd', 'e'}
t = ('a', 'c', 'b', 'e', 'd')

In [ ]:
s = {'a', 'b', 'c', 'd', 'e'}
a=tuple(s)
print(a,type(a))
t = ('a', 'c', 'b', 'e', 'd')
d=set(t)
print(d,type(d))

('c', 'd', 'e', 'b', 'a') <class 'tuple'>
{'c', 'e', 'b', 'd', 'a'} <class 'set'>

 Write a program that finds all the missing numbers from a list within a given range?
l = [1, 2, 4, 6, 7, 9], Range: 1 to 9

In [ ]:
l=[1,2,4,6,7,9]
a=range(1,10)
b=set(a)
c=set(l)
d=b.difference(c)
print(d)

{8, 3, 5}

Write a program that generates a set of unique random numbers

In [ ]:
import random

unique_numbers = set(random.sample(range(1, 51), 5))
print(unique_numbers)

TypeError: 'set' object is not callable

Write a Python program to remove all elements from the given set {10, 20, 30, 40, 50}

In [ ]:
set= {10, 20, 30, 40, 50}
set.clear()
print(set)

set()

How do you create an immutable set in Python?

In [ ]:
s = frozenset([1, 2, 3, 4])#using frozen set
print(s)

frozenset({1, 2, 3, 4})

Write a Python program to remove the intersection of a second set with the first set?

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 6}
set1.difference_update(set2)
print(set1)

{1, 2, 5}